@font-face {
  font-family: "futura";
  src: url("./fonts/futura-lt-w01-light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "latin";
  src: url("./fonts/dinneuzeitgroteskltw01-_812426.latin.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-5px);
  }
}

body {
  font-family: "futura", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles pour le header */

header {
  display: flex;
  flex-direction: column;
  font-family: latin, sans-serif;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 15px 5%;
}

h1 {
  position: absolute;
  left: 15%; /* ancré à gauche avec une marge fluide */
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  color: #000;
}
h1 a {
  text-decoration: none; /* enlève le soulignement */
  color: black; /* couleur normale du texte */
}

.navigation {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.nav_bar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 5px 10px;
}

.nav_bar a:hover {
  color: #00b3ff;
  transition: 0.3s color ease;
}

.banniere {
  width: 100%;
  height: calc(100vh - 45px); /* 80px = hauteur approximative de la top-bar */
  object-fit: cover;
  display: block;
  opacity: 0.8;
}

.banner_container {
  position: relative;
  width: 100%;
  height: 100vh; /* prend toute la fenêtre */
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.logo_banniere {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: auto;
}

.icone_fleche {
  position: absolute;
  bottom: 10%;

  width: 50px;
  height: auto;
  animation: bounce 2s infinite;
}

/* Bloc cliquable avec images */

.image_cliquable {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px 0;
}

.image_link {
  position: relative;
  display: inline-block;
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.image_link img {
  display: block;
  width: 300px;
  transition: 0.3s ease;
}

.texte_image {
  position: absolute;
  bottom: 0;
  left: 30%; /* le rectangle commence à 50 % de la largeur */
  right: 0; /* il s’étend jusqu’au bord droit */
  background-color: white; /* fond blanc */
  color: black;
  font-weight: bold;
  padding: 8px 10px;
  text-align: left;
  box-sizing: border-box;
  font-family: futura, sans-serif;
  font-size: large;
}

.image_link:hover img {
  filter: brightness(0.7); /* assombrit l’image au survol */
}

.image_link.visible {
  opacity: 1;
  transform: translateY(0);
}

/* style offre parrainage */

.offre_parrainage {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 75px;
  padding-right: 200px;
  position: relative; /* pour que le ::before soit positionné par rapport à ce bloc */
  opacity: 0;
  transform: translateX(100px); /* commence décalé à droite */
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.offre_parrainage.visible {
  opacity: 1;
  transform: translateX(0); /* revient à sa position normale */
}

.offre_parrainage::before {
  content: "";
  position: absolute;
  left: 400px; /* largeur du texte */
  top: 0;
  bottom: 0;
  right: 0; /* jusqu’au bord droit */
  background-color: #f0f0f0; /* couleur du background */
  z-index: 0; /* derrière le contenu */
}

.texte_parrainage {
  flex: 0 0 50%;
  font-size: 18px;
  color: #333;
  width: 400px;

  z-index: 1; /* devant le background */
}

.image_parrainage {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 400px;
  overflow: hidden;
  z-index: 1; /* devant le background */
}

.image_parrainage img {
  width: 350px;
  height: 100%;
  object-fit: cover;
}

.titre_offre_parrainage {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 50px;
  color: #00b3ff;
}

/* style reseaux sociaux */

.footer_reseaux {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 200px;
}

.footer_reseaux .social_media_icons {
  display: flex; /* permet de manipuler les icônes */
  justify-content: center; /* centre les icônes horizontalement */
  gap: 40px; /* espace entre les icônes */
  margin-top: 50px; /* petit espace au-dessus */
}
.footer_reseaux .social_media_icons img {
  width: 100px;
  height: 100px;
  transition: transform 0.3s ease;
}

.footer_reseaux h2 {
  font-size: 40px;
  margin-bottom: 10px;
  color: #00b3ff;
}

/* style bas de page */

footer {
  background-color: #000000;
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  color: #666;
}

#icons {
  cursor: pointer;
  display: none;
  font-size: 1.5rem;
  margin-left: auto;
}

@media (max-width: 1024px) {
  #icons {
    display: block;
  }
  #icons::before {
    content: "\2630";
  }
  #icons.active::before {
    content: "\2715";
  }
  .navigation {
    position: fixed;
    left: 200%;
    top: 43px;
    padding-bottom: 1%;
    flex-direction: column;
    background: white;
    width: 100%;
    text-align: center;
    transition: 0.3s left ease;
    padding-top: 60px;
    z-index: 999;
  }
  .navigation a {
    display: block; /* lien prend toute la largeur */
    font-size: 1.5rem; /* agrandir un peu le texte */
    text-align: center; /* centre le texte */
  }
  .navigation.active {
    left: 0%;
  }
  .icone_fleche {
    position: absolute;
    bottom: 20%;

    width: 50px;
    height: auto;
    animation: bounce 2s infinite;
  }
  .image_cliquable {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes */
    justify-items: center;
    align-items: center;
    gap: 30px;
    padding: 0 5%;
  }

  .image_link img {
    width: 100%;
    max-width: 220px;
    height: auto;
    box-sizing: border-box;
  }

  .texte_image {
    font-size: 0.9rem;
    left: 25%;
  }
}

@media (max-width: 1335px) {
  .image_link img {
    display: block;
    width: 250px;
    transition: 0.3s ease;
  }
}

@media (max-width: 1100px) {
  .image_link img {
    display: block;
    width: 200px;
    transition: 0.3s ease;
  }
}
@media (max-width: 1164px) {
  .offre_parrainage {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 100px 5%;
    margin: 0 auto;
    position: relative;
  }
  .offre_parrainage::before {
    left: 0;
    top: 50%;
    bottom: 0;
    right: 0;
    height: 500px;

    transform: translateY(-50%);
    padding-top: 50px;
  }
  .texte_parrainage {
    width: 100%;
    flex: none;
    margin-bottom: 20px;
  }
  .image_parrainage {
    width: 100%;
    display: flex;
    justify-content: center; /* centre l’image horizontalement */
    overflow: hidden;
  }
  .image_parrainage img {
    width: 100%; /* ✅ quasi toute la largeur de la page */
    height: 200px; /* ✅ hauteur modifiable selon ton besoin */
    object-fit: cover; /* garde les proportions sans déformation */
    display: block;
  }
}

@media (max-width: 888px) {
  .footer_reseaux {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .footer_reseaux .social_media_icons {
    display: flex; /* permet de manipuler les icônes */
    justify-content: center; /* centre les icônes horizontalement */
    gap: 20px; /* espace entre les icônes */
    margin-top: 50px; /* petit espace au-dessus */
  }
}
